::selection {
  color: #ffffff;
  background: #00D2FF;
}

@keyframes rotates {
  0% {transform: rotateX(-45deg) rotateY(30deg)}
  100% {transform: rotateX(-45deg) rotateY(390deg)}
}

.cube {
  width: 200px;
  height: 200px;
  margin: 200px auto;
  transform-style: preserve-3d;
  transform: rotateX(-45deg) rotateY(30deg);
  animation: rotates 4s linear infinite;
}

.face {
  width: 200px;
  height: 200px;
  color: #ffffff;
  font-size: 40px;
  line-height: 200px;
  text-align: center;
  position: absolute;
}

.one {
  transform: translateZ(100px);
  background-image: linear-gradient(to right, #ff9068, #fd746c);
}
.two {
  transform: rotateX(90deg) translateZ(100px);
  background-image: linear-gradient(to right, #a044ff, #6a3093);
}
.three {
  transform: translateZ(-100px);
  background-image: linear-gradient(to right, #F15F79, #F15F79);
}
.four {
  transform: translateX(-100px) rotateY(-90deg);
  background-image: linear-gradient(to right, #8DC26F, #76b852);
}
.five {
  transform: translateX(100px) rotateY(90deg);
  background-image: linear-gradient(to right, #00dbde, #fc00ff);
}
.six {
  transform: translateY(100px) rotateX(90deg);
  background-image: linear-gradient(to right, #dc2430, #7b4397);
}
.text {
  display: block;
  font-variant: small-caps;
  text-align: center;
}